* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

button {
  border: none;
}

#subscriptions .subscriptions_btn button, #popular .popular_btn button, #help .help_box_in button, #hero .hero__text_btn {
  width: 159px;
  height: 45px;
  background: #1EC6A7;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  transition: 0.2s;
}

#subscriptions .subscriptions_btn button:hover, #popular .popular_btn button:hover, #help .help_box_in button:hover, #hero .hero__text_btn:hover {
  background: rgba(30, 198, 167, 0.5);
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #help .help h1 {
    font-size: 14px;
    line-height: 20px;
    padding-left: 40px;
  }
}
.container {
  width: 1140px;
  margin: auto;
}

#header {
  position: absolute;
  width: 100%;
  margin-top: 50px;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header__logo {
  display: flex;
}
#header .header__logo__line {
  width: 0;
  height: 30px;
  border: 1px solid #8F8F8F;
  margin-right: 20px;
  margin-left: 20px;
}
#header .header__logo p {
  font-size: 14px;
  line-height: 100%;
  color: #8F8F8F;
  width: 35%;
}
#header .header__nav {
  display: flex;
  align-items: center;
}
#header .header__nav__item {
  margin-left: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #151515;
}
#header .header__nav__item::after {
  content: "";
  width: 90%;
  height: 0px;
  background: rgba(30, 198, 167, 0.4);
}
#header .header__nav select {
  border: 0px;
  outline: 0px;
  background: transparent;
  appearance: none;
  padding: 5px 20px 5px 5px;
}

#hero {
  background: url("../img/bg.png") no-repeat center/cover;
  padding-top: 200px;
  min-height: 100vh;
}
#hero .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero__text_title {
  font-weight: 900;
  font-size: 72px;
  line-height: 90%;
  letter-spacing: -0.025em;
  color: #151515;
  width: 600px;
  height: 195px;
}
#hero .hero__text_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #151515;
  width: 555px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#hero .hero__text_btn img {
  margin-left: 10px;
}
#hero .hero__pic {
  overflow: hidden;
}
#hero .hero__pic .hero__img {
  width: 600px;
}

#help {
  margin-top: 30px;
}
#help .help {
  display: flex;
  justify-content: center;
  align-items: center;
}
#help .help_box {
  width: 450px;
  height: 389px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-left: 82px;
  padding-left: 58px;
}
#help .help_box h1 {
  font-weight: 900;
  font-size: 44px;
  color: #151515;
  padding-top: 58px;
  padding-right: 88px;
}
#help .help_box h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #151515;
  margin-top: 30px;
  margin-right: 95px;
  margin-bottom: 30px;
}
#help .help_box_in input {
  width: 105px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #8F8F8F;
  border-radius: 6px;
  margin-right: 82px;
}
#help .help_box_in button {
  width: 146px;
}

#popular {
  background: #EDEDED;
  padding-top: 80px;
  padding-bottom: 90px;
}
#popular .popular_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#popular .popular_top h2 {
  font-weight: 900;
  font-size: 44px;
  line-height: 90%;
  color: #151515;
  margin-bottom: 65px;
}
#popular .popular_top a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #1EC6A7;
  margin-bottom: 70px;
}
#popular .popular_slide .slick-arrow {
  position: absolute;
}
#popular .popular_slide .slick-prev {
  font-size: 0;
  background: url("../img/ss1.png") no-repeat center/20px;
  width: 30px;
  height: 20px;
  position: absolute;
  left: -60px;
  top: 180px;
}
#popular .popular_slide .slick-next {
  font-size: 0;
  background: url("../img/ss2.png") no-repeat center/20px;
  width: 30px;
  height: 20px;
  position: absolute;
  right: -60px;
  top: 180px;
}
#popular .popular_slide_card {
  width: 335px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  margin: 0 15px;
}
#popular .popular_slide_card_in {
  padding: 30px;
}
#popular .popular_slide_card_in a {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #151515;
}
#popular .popular_slide_card_in a i {
  font-size: 15px;
  margin-right: 20px;
  transform: translateY(-5px);
}
#popular .popular_slide_card_in p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #151515;
  margin-top: 10px;
}
#popular .popular_slide_card_in img {
  display: flex;
  align-items: center;
}
#popular .popular_slide_card_in_b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20%;
  left: 20px;
}
#popular .popular_slide_card_in_b_b1 p, #popular .popular_slide_card_in_b_b2 p {
  font-size: 12px;
  line-height: 100%;
  color: #343434;
}
#popular .popular_slide_card_in_b_b1 h5, #popular .popular_slide_card_in_b_b2 h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #343434;
}
#popular .popular_slide_card_in_b_b2 {
  margin-left: 10px;
}
#popular .popular_btn {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}
#popular .popular_btn button i {
  margin-left: 20px;
}

#subscriptions .subscriptions {
  padding-top: 80px;
}
#subscriptions .subscriptions_he {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#subscriptions .subscriptions_he h2 {
  font-weight: 900;
  font-size: 44px;
  line-height: 90%;
  color: #151515;
  margin-bottom: 35px;
}
#subscriptions .subscriptions_he a {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #1EC6A7;
  margin-bottom: 40px;
}
#subscriptions .subscriptions_slide {
  margin: 0 15px;
}
#subscriptions .subscriptions_slide .slick-arrow {
  position: absolute;
}
#subscriptions .subscriptions_slide .slick-prev {
  font-size: 0;
  background: url("../img/ss1.png") no-repeat center/20px;
  width: 30px;
  height: 20px;
  position: absolute;
  left: -60px;
  top: 95px;
}
#subscriptions .subscriptions_slide .slick-next {
  font-size: 0;
  background: url("../img/ss2.png") no-repeat center/20px;
  width: 30px;
  height: 20px;
  position: absolute;
  right: -60px;
  top: 95px;
}
#subscriptions .subscriptions_slide_card {
  margin: 0 15px;
  width: 453.33px;
  height: 180px;
  background: linear-gradient(165.12deg, #E6F5F5 2.79%, #EDFFF7 92.17%), #FFFFFF;
  border-radius: 5px;
}
#subscriptions .subscriptions_slide_card_in {
  padding-top: 30px;
  padding-left: 30px;
}
#subscriptions .subscriptions_slide_card_in_title {
  display: flex;
}
#subscriptions .subscriptions_slide_card_in_title h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #151515;
  margin-left: 10px;
}
#subscriptions .subscriptions_slide_card_in p {
  margin-top: 20px;
  margin-right: 120px;
  font-size: 18px;
  line-height: 20px;
  color: #009F8C;
}
#subscriptions .subscriptions_btn {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}
#subscriptions .subscriptions_btn button i {
  margin-left: 20px;
}

#news {
  font-weight: 900;
  font-size: 44px;
  line-height: 90%;
  padding-top: 80px;
}
#news .news {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}
#news .news_card {
  background: linear-gradient(0deg, rgba(23, 37, 35, 0.92), rgba(23, 37, 35, 0.92));
  border-radius: 6px;
  width: 264px;
  height: 327px;
  margin-left: 30px;
  transition: 0.2s;
}
#news .news_card p {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
#news .news_card:hover {
  background: linear-gradient(0deg, #1EC6A7, #1EC6A7);
}

#footer {
  background: #343434;
  margin-top: 123px;
}
#footer .footer {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#footer .footer_block1 h6, #footer .footer_block2 h6, #footer .footer_block3 h6 {
  font-size: 16px;
  line-height: 22px;
  color: #8F8F8F;
  margin-bottom: 12px;
}
#footer .footer_block1 h6 i, #footer .footer_block2 h6 i, #footer .footer_block3 h6 i {
  color: #1EC6A7;
  margin-right: 7px;
}
#footer .line {
  width: 1400px;
  height: 0px;
  opacity: 0.2;
  border: 1px solid #8F8F8F;
  margin-bottom: 30px;
  margin-top: 32px;
}
#footer .cop {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #8F8F8F;
  opacity: 0.4;
  padding-bottom: 40px;
}

/*# sourceMappingURL=style.css.map */
