@media (max-width: 1200px) {
  .container{
   width: 90%;
  }
}
@media (max-width: 1024px) {

  .container {
    width: 90%;
  }
  #question {
    .question {
      h2 {
        font-size: 1.7em !important;
        transform: translateY(2.3vw);
      }

      &_acor {
        &_body {
          width: 70vw !important;

        }

        label {
          width: 72vw !important;

        }
      }

    }
  }
  #help {
    .help {
      &_box {

        h1 {
          padding-top: 1vw !important;
          font-size: 3vw !important;
        }

        h4 {
          padding-top: 0.5vw !important;
          font-size: 1.5vw !important;
        }

        &_in {
          input {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  #popular .popular_top h2 ,#subscriptions .subscriptions_he h2, #news h2{
    font-size: 4vw !important;
    margin-bottom: 3vw !important;
  }

  #popular .popular_top a,#subscriptions .subscriptions_he a, {
  font-size: 2.1vw !important;
    margin-bottom: 4.1vw !important;
  }
}



@media (max-width: 992px) {

}
@media (max-width: 768px) {
  #header .header__nav a {
    display: none !important;
  }
  #hero .hero__text_title {
    font-size: 4vw !important;
    margin-top: -8vw !important;
    width: 50vw !important;


  }


  #hero .hero__text_subtitle {
    font-size: 2vw !important;
    margin-top: -15vw !important;
    width: 50vw !important;
  }
  #hero .hero__pic .hero__img {
    width: 50vw !important;

  }
  #help .help_img{
    width: 40vw !important;
    height: 40vw !important;
  }

  #help .help_box{
    width: 40vw !important;
    height: 30vw !important;
    padding-right: 2px !important;

  }

  #help .help_box_in button{
    width: 16vw !important;
    margin-right: 2px !important;
  }

  #help .help_box_in input {
    width: 8vw !important;
  }
}
@media (max-width: 576px) {
  #help .help_box{
    padding-left: 4vw !important;
  }
  #help .help_box_in input {
  margin-right: 15px !important;
  }

  #question .question_acor label {
    font-size: 3vw !important;
  }
  #question .question_acor_body {
    font-size: 2vw !important;

  }
}
@media (max-width: 414px) {
  #header .header__logo p {
    font-size: 2.3vw !important;
  }
  #hero .hero__text_subtitle {
    line-height: 12px !important;
    font-size: 2.5vw !important;
    margin-top: -35vw !important;
  }
  #hero .hero__text_title {

    margin-top: -10vw !important;}
  #hero .hero__pic {
    width: 45vw !important;
  margin-top: -60px !important;}
  #help .help_box h4{
    line-height: 8px !important;
    margin-top: 17px !important;
    font-size: 2.2vw !important;
    margin-bottom: 15px !important;
  }
  #help .help_box{
  width: 70vw !important;
    margin-left: 40px!important;}
  #help .help_box_in input {
    height: 20px!important;
  }
  #help .help_box_in button{
  height: 25px !important;
    font-size: 10px !important;
    padding: 5px;
    img{
      display: none;
    }
  }
  #hero .hero__text_btn {
    width: 120px!important;
    height: 40px!important;
    font-size: 12px!important;
    margin-bottom: 15px!important;
  }
  #news .news_card{
  width: 143px!important;
  height: 200px!important;}
  #news .news_card p{
  font-size: 12px !important;
  line-height: 20px!important;}
  #question .question h2{
  font-size: 3vw !important;
  transform: translateY(5vw);}


  #question .question_acor_body{
    font-size: 2.5vw !important;
  }
}
@media (max-width: 390px) {

}
@media (max-width: 320px) {


  #header .header__nav__item {
    display: none;
  }
  #help .help_box h1 {
    padding-right: 5px !important;
    font-size: 5vw!important;

  }
  #help .help_box h4 {
  margin-top: 10px !important;
font-size: 3vw !important;
  }
  #help .help_img {
    display: none;
  }
  #help .help_box_in input {
    width: 15vw !important;
  }
  #help .help_box_in button {
    width: 20vw !important;
  }
  #question .question_acor_body {
    font-size: 3vw !important;

  }

  #hero .hero__text_subtitle{
  font-size: 3.5vw !important;
    margin-top: -50vw !important;}
  #hero .hero__text_btn {
    width: 100px !important;
    height: 35px !important;
    font-size: 10px !important;

    img{
      display: none;
    }
  }
  }
